<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H8 Model Deployment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="form">
        <img src="https://jsday.id/images/sponsors/Logo-Hacktiv8.png" height="100px"/>
        <h1>Hacktiv8 Final Project 2</h1>
        <h6>Nindya Eka Apsari & Faradilla Ardiyani</h6>
        <p>Prediksi Hujan di Australia</p>
        <form action="{{ url_for('predict') }}" method="post">
            <div class="form-style-agile">
                <label>Lokasi</label>
                <div class="p1">
                    <select name="Lokasi" aria-label="Lokasi" required="">
                        <option selected disabled>Pilih Lokasi</option>
                        <option value=0>Albury</option>
                        <option value=1>BadgerysCreek</option>
                        <option value=2>Cobar</option>
                        <option value=3>CoffsHarbour</option>
                        <option value=4>Moree</option>
                        <option value=5>Newcastle</option>
                        <option value=6>NorahHead</option>
                        <option value=7>NorfolkIsland</option>
                        <option value=8>Penrith</option>
                        <option value=9>Richmond</option>
                        <option value=10>Sydney</option>
                        <option value=11>SydneyAirport</option>
                        <option value=12>WaggaWagga</option>
                        <option value=13>Williamtown</option>
                        <option value=14>Wollongong</option>
                        <option value=15>Canberra</option>
                        <option value=16>Tuggeranong</option>
                        <option value=17>MountGinini</option>
                        <option value=18>Ballarat</option>
                        <option value=19>Bendigo</option>
                        <option value=20>Sale</option>
                        <option value=21>MelbourneAirport</option>
                        <option value=22>Melbourne</option>
                        <option value=23>Mildura</option>
                        <option value=24>Nhil</option>
                        <option value=25>Portland</option>
                        <option value=26>Watsonia</option>
                        <option value=27>Dartmoor</option>
                        <option value=28>Brisbane</option>
                        <option value=29>Cairns</option>
                        <option value=30>GoldCoast</option>
                        <option value=31>Townsville</option>
                        <option value=32>Adelaide</option>
                        <option value=33>MountGambier</option>
                        <option value=34>Nuriootpa</option>
                        <option value=35>Woomera</option>
                        <option value=36>Albany</option>
                        <option value=37>Witchcliffe</option>
                        <option value=38>PearceRAAF</option>
                        <option value=39>PerthAirport</option>
                        <option value=40>Perth</option>
                        <option value=41>SalmonGums</option>
                        <option value=42>Walpole</option>
                        <option value=43>Hobart</option>
                        <option value=44>Launceston</option>
                        <option value=45>AliceSprings</option>
                        <option value=46>Darwin</option>
                        <option value=47>Katherine</option>
                        <option value=48>Uluru</option>
                    </select>
                </div>
            </div>
            <div class="form-style-agile">
                <label>Hari Ini Hujan</label>
                <div class="p1">
                    <select name="Hari_Ini_Hujan" aria-label="Hari Ini Hujan"required="">
                        <option selected disabled>Pilih</option>
                        <option value=0>Tidak Hujan</option>
                        <option value=1>Hujan</option>
                    </select>
                </div>
            </div>
            <label>Kelembapan 3 Sore</label>
            <div class="pom-agile">
                <input placeholder="Kelembapan 3 Sore (Cth: 75.66)" name="Kelembaban_3Sore" type="text" required="">
            </div>
            <label>Kecepatan Angin</label>
            <div class="pom-agile">
                <input placeholder="Kecepatan Angin (Cth: 66.06)" name="Kecepatan_Angin" type="text" required="">
            </div>
            <label>Tekanan Udara 9 Pagi</label>
                        <div class="pom-agile">
                            <input placeholder="Tekanan Udara 9 Pagi (Cth: 1200.59)" name="Tekanan_Udara_9Pagi" type="text" required="">
                        </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">Prediksi</button>
        </form>


        <p class="message">{{ prediction_text }}</p>
    </div>

</body>
</html>